.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: rgb(242, 242, 247);
  overflow-x: hidden;
  padding-top: 20px;
}
ul{
  border-radius:.5em solid gray ;
  list-style-type: none;
  margin: 5px;
  cursor: pointer;
}
.main {
  margin-left: 250px;
  padding: 0px 10px;
}
.mainInfo {
  border: 1px solid rgb(111, 113, 114);
  border-radius: .5em;
  margin: 20px;
  padding: 20px;
}
h1 {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(53, 52, 52);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 80px;
}
#fDay, #secDay, #thDay, #forthDay, #fifthDay {
  background-color: rgb(22, 128, 228);
  margin: 10px;
  border-radius: .5em;
  color: white;
  padding: 10px;
  font-size: 20px;
}
#cityTemp, #cityHumidity, #cityWindSpeed, #cityUV {
  padding: 7px;
}
#searchButton{

  background-color: rgb(22, 128, 228);
  color: white;
  cursor: pointer;
}